@import '../_common';

$logo-main-size: 45%;
$logo-main-size-portrait: 65%;

$destination-block-border: 3px solid white;

.bg-index {
  @extend .full-bg;
  background-image: (url("../img/location/bartok/interior/se-index-bg.jpg"));
}

.se-logo-main {
  width: $logo-main-size;
  @include animation(fall-in 1s);
}

.index-nav-wrap {
  overflow: visible;
  margin: 0 auto;
  padding: 2rem 0;
  @media screen and (min-width: $max-content-width) {
    padding: 4rem 0 5rem 0;
  }
  max-width: $logo-main-size * 1.2;
}

.index-destination-block-container {
  width: 50%;
  float: left;
}

.index-destination-block-content {
  cursor: pointer;
  position: relative;
  margin: 0 0.7rem;
  padding: 0.7rem 0;
  background: url("../img/bg/grunge-alpha-texture.png");
  background-size: 100%;
  border-top: $destination-block-border;
  border-bottom: $destination-block-border;
  &.offset {
    background-position: 0 -50px;
  }
}

.index-left-arrow {
  width: 50%;
  position: absolute;
  left: -10%;
  top: 95%
}

.index-destination-block-container:hover{
  .index-destination-block-content {
    @include scale(1.05,1.05)
  }
  .index-left-arrow, .index-right-arrow{
    @include scale(1.12,1.12)
  }

}

.index-right-arrow {
  width: 50%;
  position: absolute;
  left: 43%;
  bottom: 103%
}

.index-destination-row1 {
  font-size: 4vw;
  line-height: 5vw;
}

.index-destination-row2 {
  font-size: 4.1vw;
  line-height: 4vw;
}

.index-destination-row3 {
  font-size: 2vw;
  line-height: 3vw;
}

.index-destination-row3b {
  font-size: 2.3vw;
}

.index-callword {
  @include rotate(-7deg);
  position: relative;
  white-space: nowrap;
  color: $color-index-highlight;
  font-size: 3.4vw;
  line-height: 6.3vw;
  &.offset {
    left: -1.5vw;
  }
}

@media screen and (min-width: $max-content-width) {
  .index-destination-row1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  .index-destination-row2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .index-destination-row3 {
    font-size: 1.35rem;
    line-height: 2rem;
  }

  .index-destination-row3b {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .index-callword {
    font-size: 2.1rem;
    line-height: 3.4rem;
    &.offset {
      left: -1.2rem;
    }
  }
}

@media screen and (orientation: portrait) {
  .se-logo-main {
    width: $logo-main-size-portrait * 1.2;
  }

  .index-nav-wrap {
    max-width: $logo-main-size-portrait * 1.6;
  }

  .index-destination-row1 {
    font-size: 7vw;
    line-height: 7vw;
  }

  .index-destination-row2 {
    font-size: 7.2vw;
    line-height: 7.2vw;
  }

  .index-destination-row3 {
    font-size: 3.4vw;
    line-height: 4vw;
  }

  .index-destination-row3b {
    font-size: 4vw;
    line-height: 4vw;
  }

  .index-callword {
    font-size: 4.2vw;
    line-height: 7vw;
    top: 1vw;
    &.offset {
      left: -1vw;
    }
  }
}

.index-nav-container {
  @include animation(rise-up 1s);
  .index-nav {
    @include text-shadow(0, 0, 40px, 0, 0, 0, 1);
    margin: 0;
    padding: 0;
    li {
      &:before, &:after {
        content: '\2022';
        margin: 0.5rem;
      }
      font-size: 1.4rem;
      line-height: 2rem;
      display: block;
      @media screen and (min-width: $mobile-threshold-width) {
        display: inline-block;
        font-size: 1.3rem;
        &:before {
          margin: 0.5rem 0.5rem 0.5rem 0.3rem;
        }
        &:first-child:before, &:after {
          content: '';
          margin: 0;
        }
      }
    }
  }
}
