.chalkboard
    .row.text-center
        h1.stamp-label.on-chalk.text-huge Itt találod
        h2 1114 Bartók Béla út 62-64
        h4 06-1-209-03-05
        h4 semmiextra@semmiextra.hu
    .large.text-center
        iframe(
        width="90%",
        height="90%",
        frameborder=0,
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAPy7PlPDAQBhGtm9Jg_3u6jNUo-9LAirg&" +
        "q=Semmi+Extra,Budapest",
        allowfullscreen)
