.se-nav.nav-open.trans-short
    .nav-icon
    ul.trans-short
        li
            a(href='#gallery') Képek
        li
            a(href='#menu') menü
        li
            a(href='#extra-food') kiemelt cucc
        li
            a(href='#extra-menu') extra menü
        li
            a(href='#contact') kapcsolat