doctype html
html.sans-serif-light
    include includes/head.jade
    body.preload
        .bg-index.fadein.trans-all
            .content-wrap
                .text-center
                    img(src='img/logo-lg.png').se-logo-main
                .index-nav-wrap.serif-heavy.uppercase.text-center.row
                    .index-destination-block-container.anim-from-left
                        .index-destination-block-content.trans-all
                            .index-destination-row1 semmi
                            .index-destination-row2 extra
                            .index-destination-row3 bartók b. út.
                            .index-callword.sans-serif-heavy original
                            img(src='img/arrow-sketch-left.png').index-left-arrow.trans-all
                    .index-destination-block-container.anim-from-right
                        .index-destination-block-content.offset.trans-all
                            img(src='img/arrow-sketch-right.png').index-right-arrow.trans-all
                            .index-destination-row1 semmi
                            .index-destination-row2 extra
                            .index-destination-row3b lajos utca
                            .index-callword.offset.sans-serif-heavy és egy kis kert
                .text-center
                    .index-nav-container
                        ul.index-nav.sans-serif-heavy.wide.uppercase
                            li étlap
                            li heti menü
                            li extra ajánlat
                            li kapcsolat