doctype html
html.sans-serif-light
    include includes/head.jade
    body.preload
        .menu-container
            .menu-wrap.content-wrap
                .row
                    .col-md-6
                        h1.stamp-label kávé, tea, forró ital
                        .flex-row.menu-item
                            .flex-item.menu-item-name
                                label gyümölcs shake
                                sub (ERDEI, EPER, BANÁN-ALMA) (0,4 L)
                            .flex-item.line
                            .flex-item.fixed.stamp-label 2040
                        .flex-row.menu-item
                            .flex-item.menu-item-name
                                label zöldséges shake
                                sub (káposzta, spenót, fos) (0,4 L)
                            .flex-item.line
                            .flex-item.fixed.stamp-label 3900
                    .col-md-6
                        h1.stamp-label üdítő, frissítő
                        .flex-row.menu-item
                            .flex-item.menu-item-name
                                label staropramen
                                sub 0,4 0,5 1liter, zsiráf
                            .flex-item.line
                            .flex-item.fixed.stamp-label 900
                        .flex-row.menu-item
                            .flex-item.menu-item-name
                                label kőbányai
                            .flex-item.line
                            .flex-item.fixed.stamp-label 100
                .row
                    .col-md-6
                        h1.stamp-label sör, cider
                    .col-md-6
                        h1.stamp-label bor, pezsgő
                        .flex-row.menu-item
                            .flex-item.menu-item-name
                                label BUJDOSÓ MERLOT-CABERNET SAUVIGNON CUVÉE
                            .flex-item.line
                            .flex-item.fixed.stamp-label 1200
                div
                    h1.stamp-label tészták
                    .flex-row.menu-item
                        .flex-item.menu-item-name
                            label musztacchio pizza
                            sub minden szarral megrakva tökig
                        .flex-item.line.dotted
                        .flex-item.fixed.stamp-label 33990
    div.item-slide
        ul
            li 1
            li ads
            li dsads