.bg {
  background: no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-bg {
  @extend .bg;
  min-height: 100vh;
}

.chalkboard {
  overflow: hidden;
  background: darkgray url('../img/bg/chalkboard.png');
}