@import '_common';

.preload {
  &:before {
    //background: red;
    content: '\25DC';
    font-size: 72px;
    line-height: 64px;
    width:64px;
    height:64px;
    position: absolute;
    margin-left: -32px;
    margin-top: -32px;
    left: 50%;
    top: 50%;
    @include animation(spin 2s infinite linear);
  }
  * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color: white;
}

body {
  background-color: $color-page-background;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

$top-logo-scale: 15rem;
.top-logo {
  margin: $top-logo-scale/8 auto;
  background: url('../img/logo-lg.png') no-repeat center center;
  background-size: $top-logo-scale;
  width: $top-logo-scale;
  height: $top-logo-scale;
}

