@import '_variables';
@import '_fonts';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color: white;
}

body {
  background-color: $page-background-color;
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.clearfix::after {
  content:".";
  clear:both;
  visibility: hidden;
}

