@import '_common';

.preload {
  &:before {
    content: '\25DC';
    font-size: 64px;
    line-height: 0;
    position: absolute;
    margin-left: -32px;
    margin-top: -32px;
    left: 50%;
    top: 50%;
    @include animation(spin 2s infinite linear);
  }
  * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color: white;
}

body {
  background-color: $color-page-background;
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

