@import "_mixins";
@import "_variables";

$serif-font: 'Noto Serif', serif;
$sans-serif-font: 'Asap', sans-serif;
$light-weight: 400;
$heavy-weight: 700;

.serif-heavy {
  font-family: $serif-font;
  font-weight: $heavy-weight;
}

.sans-serif-light {
  font-family: $sans-serif-font;
  font-weight: $light-weight;
}

.sans-serif-heavy {
  font-family: $sans-serif-font;
  font-weight: $heavy-weight;
  &.wide {
    @include scale($font-wide-scale,1);
  }
}

