@import "_mixins";
@import "_variables";

.serif-heavy {
  font-family: $serif-font;
  font-weight: $heavy-weight;
}

.sans-serif-light {
  font-family: $sans-serif-font;
  font-weight: $light-weight;
}

.sans-serif-heavy {
  font-family: $sans-serif-font;
  font-weight: $heavy-weight;
  &.wide {
    @include scale($font-wide-scale, 1);
  }
}

.text-huge {
  font-size: 2.2rem;
  @media screen and (min-width: $mobile-threshold-width) {
    font-size: 3rem;
  }
}

.left-caret::after {
  content: '\2039';
}

.right-caret::after {
  content: '\203a';
}
