@import "_mixins";

.item-slide {
  overflow: hidden;
  position: relative;
  width: 100%;
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    li {
      width: 100vw;
      float: left;
    }
  }

  &.large li{
    @extend .bg;
    min-height: 90vh;
  }

}

