@mixin transition($cfg){
  -webkit-transition: $cfg;
  transition: $cfg;
}

@mixin transform($tr){
  -ms-transform: $tr;
  -webkit-transform: $tr;
  transform: $tr;
}

@mixin animation($cfg) {
  -webkit-animation: $cfg;
  -moz-animation: $cfg;
  -o-animation: $cfg;
  animation: $cfg;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin rotate($deg) {
  @include transform(rotate($deg));
}

@mixin scale($x, $y) {
  @include transform(scale($x, $y));
}

@mixin box-shadow($x, $y, $blur, $spread, $r, $g, $b, $alpha) {
  -webkit-box-shadow: $x $y $blur $spread rgba($r, $g, $b, $alpha);
  -moz-box-shadow: $x $y $blur $spread rgba($r, $g, $b, $alpha);
  box-shadow: $x $y $blur $spread rgba($r, $g, $b, $alpha);
}


@mixin text-shadow($x, $y, $blur, $r, $g, $b, $alpha) {
  text-shadow: $x $y $blur rgba($r, $g, $b, $alpha);
}


@mixin clearfix {
  &::after {
    content: ".";
    overflow: hidden;
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
  }
}