//colors
$color-page-background: #2b2b2b;
$color-index-highlight: #f8ae45;

//dimensions
$mobile-threshold-width: 800px;
$max-content-width: 900px;

$font-wide-scale: 1.15;
$font-narrow-scale: 0.75;


